@import '@/design-system/globalstyles/index.global.scss';

:root {
    --body-background: #{$primary-black-500};
    --onboarding-subtitle-color: #{$neutral-gray-500};
}

.home-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    height: 100vh;

    .body {
        height: rem(650);
        width: rem(350);
        background-color: var(--body-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-bottom: rem(0);
        position: relative;
    }

    .onboarding-title {
        @extend %h3-medium; //typography
        color: $white;
    }

    .onboarding-subtitle {
        @extend %body-2-regular; //typography
        text-align: center;
        color: $white;
        width: 80%;
        color: var(--onboarding-subtitle-color);
        font-size: small;
    }

    .top-layer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        margin-top: 70px
    }

    .onboarding-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        max-width: 90%;
        // margin-top: 15%;


        position: absolute;
        // top: 0.8rem;
        bottom: 3rem;


    }

}