@import '@/design-system/globalStyles/index.global.scss';

:root{
    --body-background: #{$primary-black-500};
    --onboarding-subtitle-color: #{$neutral-gray-500};
}

.grid{
    gap: 1.5rem;
    display: flex; 
    flex-wrap: wrap; 
    width: 80%; 
    gap: 10px;
    margin-top: 2rem;
    justify-content: center;
}

.seed-phrase-create-page{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .body{
        height: rem(570);
        width: rem(350);
        background-color: var(--body-background);
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        position: relative;

    }

    .back-icon{
        @extend %back-click;
    }

    .header{

        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .onboarding-title{
            @extend %h4-medium; //typography
            color: $white;
            // font-size: 0.
            text-align: center;
            width: 80%;
        }
    
        .onboarding-subtitle{
            @extend %body-2-regular;  //typography
            text-align: center;
            color: $white;
            width: 80%;
            color: var(--onboarding-subtitle-color);
            font-size: 12px;

        }

    
    }


    .onboarding-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        max-width: 90%;
        

        position: absolute;
        // top: 0.8rem;
        bottom: 3rem;
        left: 1.2rem;
        margin-left: auto;
        margin-right: auto;
    
    }



}


.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($neutral-dark-500, 0.95);
    z-index: 0;
    top: 0;
    right: 0;
  }
  