@import '@/design-system/globalStyles/index.global.scss';

:root{
    --body-background: #{$primary-black-500};
    --onboarding-subtitle-color: #{$neutral-gray-500};
}

.home-page{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    // height: 100vh;
    height: 600px;
}



.body{
    height: rem(600);
    width: rem(350);
    background-color: var(--body-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
}
