@import '@/design-system/globalstyles/index.global.scss';

:root {
    --body-background: #{$primary-black-500};
    --onboarding-subtitle-color: #{$neutral-gray-500};
}

.home-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: auto 0;
    height: 100vh;
}

.body {
    // padding-top: rem(200);
    height: rem(600);
    width: rem(350);
    background-color: var(--body-background);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.top-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-top: 70px
}


.back-icon {
    @extend %back-click;
}

.onboarding-title {
    @extend %h3-medium; //typography
    color: $white;
}

.onboarding-subtitle {
    @extend %body-2-regular; //typography
    text-align: center;
    color: $white;
    width: 80%;
    color: var(--onboarding-subtitle-color);
}

.onboarding-buttons {
    // margin-top: 25%;
    position: absolute;
    bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 90%;
}

.strength-meter {
    width: 100%;
    align-items: flex-end;
    margin-bottom: -2.5rem;
}

.strength-meter-wrapper {
    width: 100%;
    align-items: flex-start;
}

.error-label {
    color: #ef4444;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: left;
}