@import '@/design-system/globalStyles/index.global.scss';

.loadingContainer {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: rgba(255, 255, 255, 0.8);
    // backdrop-filter: blur(4px);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  
  .spinner {
    // animation: spin 1s linear infinite;
    color: $accent-orange-500; // You can adjust this color to match your theme
  }
  
  .text {
    font-size: 14px;
    color: #666;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }